<!DOCTYPE html>

{% extends 'base.html' %}
{% block title %}Pay Fee{% endblock %}
{% block nav_bar %}<li><a href="/logout">Logout( {{user.username}} )</a></li>{% endblock %}
{% block nav %}{{ block.super }}{% endblock %}

{% block content %}

    <br><br>
    <div class="container">
        <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Fee Details</div>
                </div>

                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="pay_fee_form" action="/create_payment" method="post">
                        {% csrf_token %}
                        <div style="margin-bottom: 25px" class="form-group">
                            <label for="branch">Branch : </label>
                            <input id="branch" type="text" class="form-control" name="branch" value={{ student.branch.name }} readonly>
                        </div>

                        <div style="margin-bottom: 25px" class="row">
                            <div class="col-md-12">
                                <table class="table">
                                <thead>
                                    <tr class="info">
                                        <th>Fee Type</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for f in fees %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" value={{ f.amount }} data={{ f.id }} class="check-fee"> {{ f.fee_type }}
                                            <!--<input type="hidden" class="btn-pay" >-->
                                        </td>
                                        <td>{{ f.amount }}</td>
                                    </tr>
                                    {% endfor %}

                                    <tr class="success">
                                        <td><strong>Total</strong></td>
                                        <td><strong><span id="span_total">0.0</span></strong><input type="hidden" id="total_amount" name="total_amount" value="0.0"></td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-12">
                                <button type="button" id="btn_submit" class="btn btn-primary">Make Payment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}