
{% load staticfiles %}

<html>
    <head>
        <title>{% block title %}Fees{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% block libs %}

        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Logo</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#services">SERVICES</a></li>
                            {% block nav_bar %}{% endblock %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block content %}{% endblock %}
    </body>
</html>